@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* @import 'path-to/_variables.scss';
@import 'path-to/_keyframes-animations.scss'; */



html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}

@font-face {
    font-family: Beauty;
    src: url("assets/font/BeautyDemo.ttf") format("truetype");
}

@font-face {
    font-family: Bangers;
    src: url("assets/font/Bangers.ttf") format("truetype");

}

@font-face {
    font-family: Farsan;
    src: url("assets/font/Farsan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Dosis;
  src: url("assets/font/Dosis.ttf") format("truetype");
}

@font-face {
  font-family: ClashDisplay;
  src: url("assets/font/ClashDisplay.ttf") format("truetype");
}




@theme inline {
   --font-beauty: Beauty, "sans-serif";
   --font-bangers: Bangers, "sans-serif";
   --font-farsan: Farsan, "sans-serif";
   --font-dosis: Dosis, "sans-serif";
   --font-clash: ClashDisplay, "sans-serif";

   --animate-infinite-ribbon: infinite-ribbon var(--ribbon-duration) linear
  infinite;
--animate-infinite-ribbon-reverse: infinite-ribbon-reverse
  var(--ribbon-duration) linear infinite;

@keyframes infinite-ribbon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes infinite-ribbon-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

}

/* .progress-bar {
  position: fixed;
  top: 10;
  left: 0;
  right: 0;
  height: 10px;
  background: #000;
  transform: scaleX(0);
  transform-origin: 0%;
} */





.progress-bar {
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 8px; /* Lebar vertikal */
  background: linear-gradient(to bottom, #e7380c, #f1700d);
  transform: scaleY(0);
  transform-origin: top; /* Mulai dari atas */
  z-index: 9999;
}
